body{
    background-color: rgba(0, 0, 0, 0.925);
    color: rgba(255, 255, 255, 0.637);
}

.productCard{
    background-color: rgba(255, 0, 0, 0.199);
    max-width: 480px;
    width: 480px;
    height: 450px;
    margin: 50px;
}

.productImage{
    height: 300px;
}

li{
    list-style: none;
}