<div>
    <header id="ecommerceHeader">
        <h1 class="display-1">Apple Prods</h1>
        <img src="/images/ShoppingCartRounded.png" alt="imagen carrito" id="carritoIcon">
    </header>

    <div id="productsCardsContainer">
            <div id="products-list-wrapper">
                {{#each products}}
                <div class="card" id="indexCard">
                    <li id="liCard">
                        <img src={{this.thumbnails}} alt="imagen producto" class="productImage">
                        <div id="productsTexts">  
                            <h2 class="display-3">{{this.title}}</h2>
                            <h3 class="display-4">${{this.price}}</h3>
                            <a href="/product/{{this.id}}">
                                <button type="button" class="btn btn-primary">Description</button>
                            </a>
                        </div>
                    </li>
                </div>
                {{/each}}
            </div>
    </div>
</div>