body{
    margin: 20px;
}

#ecommerceHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

#mainIcon{
    cursor: pointer;
}

#carritoIcon{
    cursor: pointer;
}

.productImage{
    max-height: 280px;
    height: auto;
    max-width: 270px;
}

#liCard{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#addProductsForm{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5px;
}

li{
    list-style: none;
}

.display-1{
    font-size: 40px;
    font-weight: bold;
}

.display-2{
    font-size: 30px;
}

.display-3{
    font-size: 25px;
    font-weight: bold;
}

.display-4{
    font-size: 20px;
}

#indexCard{
    margin: 20px;
    padding: 5px;
    max-width: 300px;
}

#products-list-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

/* DESCRIPTION */
#descriptionPage{
    max-height: 100vh;
    height: 100vh;
}

#cardContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin-top: -80px; 
}

#individualCardDescription{
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 900px;
}

#descriptionImg{
    height: auto;
    width: 450px;
    object-fit: contain;
}

#productInfo{
    margin: 40px 0px 40px 0px;
    width: 450px;
}

#productInfo h1{
    font-weight: bolder;
}

#productInfo h3, #productInfo h4{
    font-weight: lighter;
}

#addButton{
    width: 100px;
    height: 40px;
    margin: 150px 0px 0px 280px;
}

a{
   color: inherit;
    text-decoration: none; 
}