<div>
    <h1 class="display-1">Real Time Products</h1>

    <div>
        <h2 class="display-2">Agregue un producto nuevo</h2>

        <form id="addProductsForm">
            <input  class="form-control" type="text" name="title" id="productTitle" placeholder="Nombre del producto" required>
            <input class="form-control" type="text" name="description" id="productDescription" placeholder="Descripción del producto" required>
            <input class="form-control" type="text" name="code" id="productCode" placeholder="Codigo del producto" required>
            <input class="form-control" type="number" name="price" id="productPrice" placeholder="Precio del producto" required>
            <input class="form-control" type="text" name="status" id="productStatus" placeholder="Estado del producto" required>
            <input class="form-control" type="number" name="stock" id="productStock" placeholder="Cantidad en stock" required>
            <input class="form-control" type="text" name="category" id="productCategory" placeholder="Categoria del producto" required>
            <input class="form-control" type="file" name="thumbnails" id="productThumb" placeholder="Imagen del producto" required>
            <button class="btn btn-dark" type="submit">Agregar producto</button>
        </form>

        <h2 class="display-2">Lista productos en vivo</h2>

        <div id="productsCardsContainer">
            <div id="products-list-wrapper">
                {{#each products}}
                <div class="card">
                    <li>
                        <img src={{this.thumbnails}} alt="imagen producto" class="productImage">
                        <h2 class="display-3">{{this.title}}</h2>
                        <h3 class="display-4">Precio: ${{this.price}}</h3>
                        <button class="delete-product-button btn btn-dark" data-pid={{this.id}}>Eliminar</button>
                    </li>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    //formulario
    const form = document.getElementById("addProductsForm");
    const title = document.getElementById("productTitle");
    const description = document.getElementById("productDescription");
    const code = document.getElementById("productCode");
    const price = document.getElementById("productPrice");
    const status = document.getElementById("productStatus");
    const stock = document.getElementById("productStock");
    const category = document.getElementById("productCategory");
    const thumbnails = document.getElementById("productThumb");
    //definir evento al formulario
    form.addEventListener("submit", async(e)=>{
        e.preventDefault();

        const formData = new FormData();
        //adjuntamos info del producto
        formData.append("title", title.value);
        formData.append("description", description.value);
        formData.append("code", code.value);
        formData.append("price", price.value);
        formData.append("status", status.value);
        formData.append("stock", stock.value);
        formData.append("category", category.value);
        //adjuntamos archivos
        if(thumbnails.files.length > 0){
            for (const file of thumbnails.files){
                formData.append("thumbnails", file);
            }
        }

        try{
            const response = await fetch("/api/products", {
                method: "POST",
                body: formData,
            });

            if(!response.ok){
                const error = await response.json();
                throw new Error(error.error || "Error agregando producto nuevo.");
            }

            const product = await response.json();
            console.log("Producto agregado correctamente", product);

            form.reset();
            thumbnails.value="";
        } catch (error) {
            console.log(error);
        };
    });

     const createProductCardHTML = (product) => {
        return `
            <div class="card">
                <li>
                    <img src="${product.thumbnails}" alt="imagen producto" class="productImage">
                    <h2 class="display-3">${product.title}</h2>
                    <h3 class="display-4">Precio: $${product.price}</h3>
                    <button class="delete-product-button btn btn-dark" data-pid="${product.id}">Eliminar</button>
                </li>
            </div>
            `;
    };

    //con un socket on tomamos la lista de productos actualizada desde http/io
    socket.on("products updated", (data)=>{
        const pContainer = document.getElementById("products-list-wrapper");
        let htmlContent = "";
        data.forEach((product)=>{
            htmlContent += createProductCardHTML(product);
        });
        pContainer.innerHTML = htmlContent;
    });

    //evento para eliminar productos
    document.body.addEventListener("click", (e)=>{
        if(e.target.classList.contains('delete-product-button')){
            e.preventDefault();
            const pid = e.target.dataset.pid;
            socket.emit("delete product", pid);
        };
    });
</script>