<div>
    <h1>Real Time Products</h1>

    <div>
        <h2>Agregue un producto nuevo</h2>

        <form id="addProductsForm">
            <input type="text" name="title" id="productTitle" placeholder="nombre del producto" required>
            <input type="text" name="description" id="productDescription" placeholder="descripción del producto" required>
            <input type="text" name="code" id="productCode" placeholder="codigo del producto" required>
            <input type="number" name="price" id="productPrice" placeholder="precio del producto" required>
            <input type="text" name="status" id="productStatus" placeholder="estado del producto" required>
            <input type="number" name="stock" id="productStock" placeholder="cantidad en stock" required>
            <input type="text" name="category" id="productCategory" placeholder="categoria del producto" required>
            <input type="file" name="thumbnails" id="productThumb" placeholder="imagen del producto" required>
            <button type="submit">Agregar producto</button>
        </form>

        <h2>Lista productos en vivo</h2>

        <div id="productsCardsContainer">
            {{#each products}}
            <div class="productCard">
                <li>
                    <img src={{this.thumbnails}} alt="imagen producto" class="productImage">
                    <h2>{{this.title}}</h2>
                    <h3>Precio: ${{this.price}}</h3>
                    <button class="delete-product-button" data-pid={{this.id}}>Eliminar</button>
                </li>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    //formulario
    const form = document.getElementById("addProductsForm");
    const title = document.getElementById("productTitle");
    const description = document.getElementById("productDescription");
    const code = document.getElementById("productCode");
    const price = document.getElementById("productPrice");
    const status = document.getElementById("productStatus");
    const stock = document.getElementById("productStock");
    const category = document.getElementById("productCategory");
    const thumbnails = document.getElementById("productThumb");
    //definir evento al formulario
    form.addEventListener("submit", async(e)=>{
        e.preventDefault();

        const formData = new FormData();
        //adjuntamos info del producto
        formData.append("title", title.value);
        formData.append("description", description.value);
        formData.append("code", code.value);
        formData.append("price", price.value);
        formData.append("status", status.value);
        formData.append("stock", stock.value);
        formData.append("category", category.value);
        //adjuntamos archivos
        if(thumbnails.files.length > 0){
            for (const file of thumbnails.files){
                formData.append("thumbnails", file);
            }
        }

        try{
            const response = await fetch("/api/products", {
                method: "POST",
                body: formData,
            });

            if(!response.ok){
                const error = await response.json();
                throw new Error(error.error || "Error agregando producto nuevo.");
            }

            const product = await response.json();
            console.log("Producto agregado correctamente", product);
        } catch (error) {
            console.log(error);
        };
    });

     const createProductCardHTML = (product) => {
        return `
            <div class="productCard">
                <li>
                    <img src="${product.thumbnails}" alt="imagen producto" class="productImage">
                    <h2>${product.title}</h2>
                    <h3>Precio: $${product.price}</h3>
                    <button class="delete-product-button" data-pid=${product.id}>Eliminar</button>
                </li>
            </div>
        `;
    };

    //con un socket on tomamos la lista de productos actualizada desde http/io
    socket.on("products updated", (data)=>{
        const pContainer = document.getElementById("productsCardsContainer");
        let htmlContent = "";
        data.forEach((product)=>{
            htmlContent += createProductCardHTML(product);
        });
        pContainer.innerHTML = htmlContent;
    });

    //evento para eliminar productos
    document.body.addEventListener("click", (e)=>{
        if(e.target.classList.contains('delete-product-button')){
            e.preventDefault();
            const pid = e.target.dataset.pid;
            socket.emit("delete product", pid);
        };
    });
</script>